.accordion-body{
    cursor: pointer;
}
.accordion-header:hover{
    background-color: #eee;
    padding: 10px;
    position:relative;
}
.accordion-indicator{
    position: absolute;
    right: 30px;
    top: 75px;
    font-size: 30px;
    font-weight: bold;
    color: #1d66b9;
    transition: all 0.3s ease
}
.accordion-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
}