.LandingPage {
  text-align: center;
}

.logo{
  width:100px;
  height:100px;
  margin-left:20px;
  }

/* 
.accordion-header{
  cursor: pointer;
  padding:10px;
  position: relative;
  border: 5px solid black;
} */

/* .accordion-header:hover{
background-color: #eee;
}

.accordion-image {
width: 100px;
position: absolute;
left: 30px;
}


.accordion-indicator{
position: absolute;
font-size: 30px;
right: 30px; 
top: 30px;
} */

/* .accordion-body{
text-align:left;
font-size:20px;
padding-left:10px;
padding-right:10px;
background-color: #ac9181;
border: 3px solid black;
} */
/* .header{
display:flex;
align-items:center;
justify-content:center;
margin-bottom:20px;
margin-left: auto;
margin-right: auto;
width: fit-content;
}

.instructions{
font-size:20px
} */